:root {
	/*
	--primary-color: #E1523D;
	--secondary-color: #41C1AC;
	--tertiary-color: #F3F2F8;
	*/
	--primary-color: #BF400A;
	--secondary-color: #3E7FA3;
	--tertiary-color: whitesmoke;
}
body {
	display: flex;
	flex-direction: column;
	background-color: AliceBlue;
	margin: 0;
	min-height: 100vh;
}
h1 {
	text-align: center;
}
h3 {
	text-align: center;
}
div {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.adminNavigation {
	background-color: var(--primary-color);
	display: flex;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	justify-content: center;
	min-height: 100px;
}
.adminNavigation a {
	background-color: var(--secondary-color);
	border: 1px solid black;
	color: black;
	font-size: 24px;
	padding: 10px;
	margin: 20px 5px 20px;
}
.adminNavigation a:hover {
	background-color: var(--tertiary-color);
}
.successText, .failedText {
	text-align: center;
}
.successText {
	color: green;
}
.failedText {
	color: red;
}
.loginDiv {
	background-color: var(--primary-color);
	border: 3px solid black;
	display: inline-block;
	margin: auto;
}
.loginBorder {
	background-color: whitesmoke;
	display: inline-block;
	border: 3px solid black;
	margin: 3px;
}
form {
	margin: 20px;
}
form div {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
form div p {
	display: table-row;
}
form div input[type = submit] {
	display: table-cell;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
input[type = submit] {
	background-color: var(--secondary-color);
	border: 1px solid black;
}
input[type = submit]:hover {
	background-color: var(--tertiary-color);
}
form div label,
form input[type = text],
form input[type = password] {
	display: table-cell;
	text-align: center;
	margin: 10px;
	padding: 10px;
}
.lessBlankSpace {
	flex-grow: .5;
	padding: 10px;
}
.blankSpace {
	flex-grow: 1;
	padding: 10px;
}
.footer {
	background-color: var(--primary-color);
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	min-height: 100px;
	width: 100%;
}
.divTable {
	display: table;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}
.divHeader {
	display: table-row;
	font-weight: bold;
	font-size: 24px;
}
.divHeader .divCell {
	background-color: var(--secondary-color);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.divRow {
	display: table-row;
}
.divCell {
	display: table-cell;
	padding: 5px;
	border: 0px 1px 0px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px dotted black;
}
.salesData {
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
	margin-left: 25%;
}
.salesDisplay {
	padding-left: 50px;
	max-height: 300px;
	overflow: auto;
	margin-top: auto;
	margin-bottom: auto;
	min-width: 200px;
}
